body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 16.0px;
}

fieldset {
    border: 2px solid gray;
    padding: 20px;
    margin: 10px;
    border-radius: 16px;
}



img {
    width: 100%;
    border-radius: 16px;
    align-self: center;
    align-content: flex-start;
}